<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Blogs</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/modal.css">
</head>

<style>
    body {
        background-image: url('assets/1.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    img {
        max-width: 100%;
    }

    .title {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
    }

    .date {
        font-size: 10px;
    }

    .tags,
    .blogs {
        max-width: 100%;
        box-shadow: 20px 50px 30px rgba(255, 0, 85, 0.089);
        border: 1px solid rgba(247, 247, 247, 0.116);
    }

    .blogtag,
    .name {
        cursor: pointer;
        color: rgb(255, 55, 131);
    }

    .blogtag:hover,
    .name:hover {
        color: red;
    }

    .black-white {
        background-color: rgb(5, 5, 5);
        color: white;
    }

    .content {
        padding: 25px 0px 50px 0px;
    }

    .blog-options {
        height: 12%;
    }

    #deleteBlog {
        cursor: pointer;
    }

    #deleteBlog:hover,
    #editBlog:hover {
        color: blue;
    }

    th {
        padding: 20px;
    }

    td {
        width: 500px;
    }

    tr {
        background-color: rgba(255, 255, 255, 0.137);
    }

    #profile-img {
        height: 250px;
        border-radius: 100%;
        padding: 50px;
    }

    /* .row {
        border: 5px solid red;
    }

    .column {
        border: 5px solid yellow;
    } */
    #cover {
        width: 100%;
        height: 500px;
        z-index: -1;
    }
    .cover-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    input {
        text-align: center;
        margin: 10px 0px 10px 0px;
    }
    #close-edit-profile:hover {
        background-color: grey;
    }

    table {
        text-align: center;
    }
</style>

<body>
    <div class="bg"></div>
    <div class="container-fluid">
        <div class="top row">
            <div class="column col-lg-1" id="nav-button">
                <div class="fa fa-bars w3-xxlarge">

                </div>
            </div>
            <div class="column col-lg-11" id="nav-options">
                <div class="row">
                    <div class="domain col text-center col-lg-1">
                        <a href="/" id="home">
                            <h5>Home</h5>
                        </a>
                    </div>
                    <div class="domain col text-center col-lg-1">
                        <a href="blogs" id="blogs">
                            <h5>Blogs</h5>
                        </a>
                    </div>
                    <div class="domain col text-center col-lg-1">
                        <a href="tags" id="tags">
                            <h5>Tags</h5>
                        </a>
                    </div>
                    <div class="domain col text-left col-lg-1">
                        <a id="toggleTheme" class="btn btn-danger btn-lg">
                            <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
                        </a>
                    </div>
                    <div class="domain col text-left col-lg-1">

                    </div>
                    <div sec:authorize="isAnonymous()" class="domain col text-left col-lg-1">
                        <a href="login" id="login" class="btn btn-dark">
                            <h5>Login</h5>
                        </a>
                    </div>
                    <div sec:authorize="isAnonymous()" class="domain col text-right col-lg-1">
                        <a href="register" id="register" class="btn btn-success">
                            <h5>Register</h5>
                        </a>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="domain col text-right col-lg-2">
                        <div class="btn btn-dark btn-lg" th:text="${#authentication.name}">
                        </div>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="domain col text-right col-lg-1">
                        <form class="form-inline" 
                                method="POST" 
                                action="/logout">
                            <button class="btn btn-dark btn-lg" 
                                    id="logout" 
                                    type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div sec:authorize="hasRole('USER')" class="blog-status row">
            <table class="column col-12 mx-auto bg-color" style="border:2px solid rgb(255, 255, 255)">
                <tr class="black-white">
                    <th>Date</th>
                    <th>Blog</th>
                    <th>Image</th>
                    <th>Status Approval</th>
                </tr>
                <tr th:each="blog: ${blogs}">
                    <td th:text="${blog.date}" th:name="${blog.date}" th:id="${blog.date}"></td>
                    <td th:text="${blog.title}" th:name="${blog.title}" th:id="${blog.title}"></td>
                    <td><img th:src="${blog.photo}" id="blog-cover" alt="blog-cover" style="height:50px;width:50px"></td>
                    <td th:text="${blog.approved}"></td>
                </tr>
            </table>
        </div>

        <div class="cover shadow cover-overlay row" style="margin-top:10px">
            <img th:src="${user.profile.cover}" id="cover">
        </div>

        <div class="middle row" th:each="user: ${user}">
            <div class="column col-5">
                <div class="row shadow black-white" style="margin:20px;padding:10px">
                    <div class="column col-12" style="padding-top:30px;height:100%">
                        <img th:src="${user.profile.icon}" id="profile">
                        <hr th:text="${#authentication.name}"><hr>
                    </div>
                    <div class="display-user-info" style="padding:20px">
                        <p th:text="${user.firstName}" style="display:inline"></p>
                        <p th:text="${user.lastName}" style="display:inline"></p>
                    </div>
                </div>
                <!-- Edit User -->
                <div class="row">
    
                </div>
                <div sec:authorize="hasRole('ADMIN')" class="row black-white" style="margin:20px;padding:10px">
                    <div class="column col-12" style="height:100%">
                        <a href="userManagement">User Management</a>
                    </div>
                </div>
                <div class="row shadow black-white" style="margin:20px;padding:10px">
                    <button type="button" id="edit-profile" class="btn btn-dark" style="width:100%">Edit Profile</button>
                    <form action="updateUser" method="POST" style="display:none" id="edit-profile-form">
                        <div class="row justify-content-center" id="close-edit-profile" style="cursor:pointer">
                            Edit Profile
                        </div>
                        <hr>
                        <div class="row profile justify-content-center">
                            Profile Picture
                            <input type="file" name="icon" id="icon" class="column col-12 mx-auto">
                            Cover Photo
                            <input type="file" name="user-cover" id="user-cover" class="column col-12 mx-auto">
                            Cover Photo
                            <input type="file" name="wallpaper" id="wallpaper" class="column col-12 mx-auto">
                        </div>
                        <div class="row">
                            <div class="column col-8 mx-auto" style="padding-top:30px">
                                <input type="text" class="form-control" th:id="${user.firstName}" id="firstname" name="firstname" th:placeholder="${user.firstName}">
                                <input type="text" class="form-control" th:id="${user.lastName}" id="lastname" name="lastname" th:placeholder="${user.lastName}">
                                <input type="password" class="form-control" th:id="${user.password}" id="password" name="password" placeholder="Password">
                                <button type="submit" id="update" class="btn btn-dark" style="width:100%">Update Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="column col-7">
                <div class="row shadow blogs black-white" th:each="myblog: ${myblogs}" style="margin:20px;padding:10px">
                    <div class="column col-12" style="padding-top:30px">
                        <div class="row" style="padding:20px">
                            <div class="column col-12">
                                <a href="/" th:href="@{/viewBlog(title=${myblog.title})}"><img th:src="${myblog.photo}" id="blog-cover" alt="blog-cover" style="height:500px;width:100%"></a>
                            </div>
                        </div>
                        <br>
                        <div class="row" style="padding:20px">
                            <div class="column col-12">
                                <a href="/" th:href="@{/viewBlog(title=${myblog.title})}">
                                    <p class="title"><span th:text="${myblog.title}"></span></p>
                                </a>
                                <hr>
                                <p class="date"><span th:text="${myblog.date}"></span> | <span th:text="${myblog.userID}"></span></p>
                                <p class="content"><span th:utext="${myblog.content}"></span></p>
                                <div th:each="blogtag: ${myblog.tags}" style="display:inline">
                                    <p class="blogtag" style="display:inline">#<strong th:text="${blogtag.name}"></strong></p>
                                </div>
                            </div>
                        </div>

                        <!-- MODAL -->
                        <div class="modal row underlay">
                            <form action="deleteBlog" method="DELETE" class="myModal modal column col-5 mx-auto modal-content">
                                <div class="row" style="background-color:rgb(65, 65, 65);padding:10px">
                                    <div class="close">X</div>
                                </div>
                                <input type="hidden" id="blogID" name="blogID" value="">
                                <div class="row" style="padding:10px;padding-top:30px">
                                    <h1>Type 'delete' to confirm the deletion of your blog.</h1>
                                    <input type="text" class="form-control column col-5 mx-auto" style="text-align:center;margin-top:30px">
                                </div>
                                <div class="row" style="padding:10px">
                                    <button type="submit" id="confirm-delete" class="btn btn-danger column col-8 mx-auto">Delete</button>
                                </div>
                            </form>
                        </div>
                        
                        <div class="row blog-options">
                            <div class="column col-2">
                                <a href="/" th:href="@{/editBlog(title=${myblog.title})}">
                                    <div class="fa fa-edit w3-xlarge editBlog" id="editBlog"></div>
                                </a>
                            </div>
                            <div class="column col-2">
                                <div class="fa fa-trash w3-xlarge deleteBlog" id="deleteBlog"
                                    onclick="openModal($('.blogID span')[0].textContent)">
                                    <p class="blogID">
                                        <span th:value="${myblog.blogID}"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">

        </div>
    </div>
</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- script -->
<script src="js/main.js"></script>
<script src="js/blogs.js"></script>
<script src="js/modal.js"></script>

<script>
    $("#edit-profile").click(function() {
        $(this).css({ "display": "none" });
        $("#edit-profile-form").css({ "display": "block" });
    })
    $("#close-edit-profile").click(function() {
        $("#edit-profile").css({ "display": "block" });
        $("#edit-profile-form").css({ "display": "none" });
    })
</script>

</html>