<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Blogs</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- CSS -->
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/tags.css">
        <script src='https://cdn.tiny.cloud/1/jm2rvv7h3zbgkcv5k9cmm7u3nsrimxtplu5gn766gmxidibf/tinymce/5/tinymce.min.js'
            referrerpolicy="origin">
        </script>
        <script>
            tinymce.init({
                selector: '#mytextarea'
            });
        </script>
    </head>

    <!-- API KEY
    jm2rvv7h3zbgkcv5k9cmm7u3nsrimxtplu5gn766gmxidibf -->

<style>

    body {
        background-color: rgb(5, 5, 5);
        color: white;
    }

    .cover {
        padding: 100px;
    }

    .cover h3 {
        padding: 50px;
    }

    .cover .btn {
        margin: 50px;
    }

    .form {
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    input {
        margin: 0 auto;
    }

    .content {
        margin: 50px;
    }

</style>

<body>
    <div class="bg"></div>
    <div class="container-fluid">
        <div class="top row">
            <div class="column col-lg-1" id="nav-button">
                <div class="fa fa-bars w3-xxlarge">

                </div>
            </div>
            <div class="column col-lg-11" id="nav-options">
                <div class="row">
                    <div class="domain col text-center col-lg-2">
                        <a href="/" id="home">
                            <h5>Home</h5>
                        </a>
                    </div>
                    <div class="domain col text-center col-lg-2">
                        <a href="blogs" id="blogs">
                            <h5>Blogs</h5>
                        </a>
                    </div>
                    <div class="domain col text-center col-lg-2">
                        <a href="tags" id="tags">
                            <h5>Tags</h5>
                        </a>
                    </div>
                    <div class="domain col text-left col-lg-2">
                        <a id="toggleTheme" class="btn btn-danger btn-lg">
                            <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>

        <div class="cover bg-color row">
            <div class="column col-lg-12">
                <div class="col-12"  th:each="error: ${errors}">
                    <p class="alert alert-danger" th:text="${error.message}">Error
                        message</p>
                </div>
                <form action="addBlog" method="POST" onsubmit="return validateBlogDetails()">
                    <h1 class="display-title"><span th:text="${title}"></span></h1>
                
                    <p><span th:value="${blogID}"></span></p>
                
                    <!--name-->
                    <div class="form-group row">
                        <label for="title" class="col-12 col-form-label"></label>
                        <div class="col-5 mx-auto">
                            <input type="text" name="title" class="form-control" id="title" value="">
                        </div>
                    </div>
                
                    <div class="content">
                        <textarea id="mytextarea" name="content">
                            Hello, World!
                        </textarea>
                    </div>

                    <div class="form-group justify-content-md-center" style="height:100%">
                        <div class="row justify-content-md-center">
                            <div class="col-3">
                                <p>Enter some tags: </p>
                                <p><div class="name" data-name="name"></div></p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <select name="tag" id="tag" class="form-control">
                                    <option th:each="tag: ${tags}" th:value="${tag.tagID}" th:text="${tag.name}">
                                        Tag
                                    </option>
                                </select>
                            </div>
                            <div class="col-3" style="width:fit-content">
                                <button type="button" id="add-tag" class="btn btn-danger btn-md" style="width:100%">Add Tag</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" sec:authorize="hasRole('ADMIN')">
                        <div class="col-12 mx-auto">
                            Post Date:
                            <input type="date" id="post-date" name="post-date">
                        </div>
                        <div class="col-12 mx-auto">
                            Expiration Date:
                            <input type="date" id="expire-date" name="expire-date">
                        </div>
                    </div>

                    <div class="form-group row" style="padding-top:70px">
                        <label for="file" class="column col-lg-6 col-xs-12 col-form-label">
                            <h5>Blog Cover</h5>
                        </label>
                        <input type="file" name="photo" id="photo" class="column col-lg-6 col-xs-12 form-control-file">
                    </div>
                
                    <div class="row">
                        <div class="col-3">
                            <button type="submit" class="btn btn-danger btn-lg" style="width:100%">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="middle black-white" style="margin:100px;height:1000px">
            <div class="sample" style="height:200px;padding:100px">
                <h1 class="display-title"><span th:text="${title}"></span></h1>

                <p class="display-content"></p>
            </div>
        </div>

        <div class="footer">

        </div>
    </div>
</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- TINY MCE -->
<script src="https://cdn.tiny.cloud/1/jm2rvv7h3zbgkcv5k9cmm7u3nsrimxtplu5gn766gmxidibf/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<!-- script -->
<script src="js/main.js"></script>
<script src="js/blogs.js"></script>
<script src="js/tags.js"></script>

<script>
    window.addEventListener('input', function () {
        $("#mytextarea").text(tinyMCE.activeEditor.getContent().replace(/<[^>]*>/g, ""));
    })
</script>

</html>