body {
    background-color: rgb(5, 5, 5);
    color: white;
}

.black-white {
    background-color: rgb(20, 20, 20);
    color: white;
}

.bg {
    /* background-color: black; */
    z-index: 2;
}

.bg-color {
    background-color: rgb(10, 10, 10);
}

.cover, .middle, .footer {
    height: 100%;
}

hr {
    border-top: 2.5px solid rgb(255, 0, 34);
}