body {
    margin: 0 auto;
}

#nav-button {
    cursor: pointer;
    transition-property: color;
    transition-duration: 2000ms;
}

#nav-button:hover {
    color: grey;
    transition-property: color;
    transition-duration: 200ms;
}

#nav-options {
    display: none;
}

.top {
    height: 100%;
}

.fa {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.domain {
    margin: 20px;
}

a:hover {
    text-decoration: none;
}